// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// iOS only Quasar variables overwrites
// -----------------------------------------

.q-layout-drawer-left.fixed{
  background: #FFFFFF;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2), 3px 0px 4px rgba(0, 0, 0, 0.12), 2px 0px 4px rgba(0, 0, 0, 0.14);
  border-top: solid 3vh  #32383D;
  overflow:hidden;
}

